/* Old UI */
/* Hide Refresh Title Bar */
@import url('https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/hidden.css');
:root {
    /* controls the vertical position of the window buttons */
    --vr-header-snippet-top: 0x !important;
    /* controls the space above the server list */
    --vr-header-snippet-server-padding: 16px !important;
    /* controls the space the window buttons get on the channel header, experiment around with this if you get gaps or the buttons overlap! */
    --vr-header-snippet-space: 250px !important;
}
/* Visual Refresh Seamless Chat Bar */
:root {
  /* Custom padding for the chat box */
  --rscb-chat-box-padding: 8px;
}

.visual-refresh .form_f75fb0 {
  display: flex;
  flex-direction: column;
  padding: 4px var(--rscb-chat-box-padding) var(--rscb-chat-box-padding)
    var(--rscb-chat-box-padding) !important;
  /* Normal chatbar */
  .channelTextArea_f75fb0 {
    margin-bottom: 0px;
    margin-right: 1px;
    /* reply bar */
    .stackedBars__74017 {
      border-bottom-color: transparent !important;
      background-color: var(--chat-background-default);
    }
  }
  /* slowmode bar + typing indicator */
  .base_b88801 {
    border-color: transparent !important;
    position: static;
    order: -1;
    background: transparent !important;
    background-image: transparent !important;
    border: 1px solid var(--border-faint);
    border-bottom: none;
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
    .typing_b88801 {
      border-color: transparent !important;
    }
    .typingDots_b88801,
    .cooldownText_b21699 {
      background-color: var(--chat-background-default);
      height: 24px;
      padding-right: 8px;
      padding-left: 8px;
      border-radius: 8px 8px 0 0;
      border: 1px solid var(--border-faint) !important;
      border-bottom-color: transparent !important;
      /* because they dont have the same position */
      &.typingDots_b88801 {
        transform: translateX(-1px);
        &:not(:has(span > strong)) {
          display: none !important;
        }
      }
      &.cooldownText_b21699 {
        transform: translateY(1px);
      }
    }
  }
  .channelAttachmentArea_b77158 {
    background-color: var(--chat-background-default);
  }
  /* the stars of the show, the :has */
  /* check for typing thing */
  &:has(> .typing_b88801 > .typingDots_b88801 > span > strong)
    .channelTextArea_f75fb0 {
    border-top-left-radius: 0 !important;
  }
  /* check for cooldown thing */
  &:has(> .typing_b88801 > .cooldownWrapper_b21699) .channelTextArea_f75fb0 {
    border-top-right-radius: 0 !important;
  }
}
:root {
    /* change padding of the bar */
     --rscb-chat-box-padding: 8px; /* default is 8px for alignment */
}
/* revert user area */
.visual-refresh section.panels_c48ade {
  margin-left: var(--custom-guild-list-width);
  width: calc(100% - var(--space-xs)*2 - var(--custom-guild-list-width)) !important;
  .actionButtons_e131a9 button {
    padding: 0;
  }
}
nav.guilds_c48ade {
  margin-bottom: 0 !important;
}
/* optionally hide the bar at bottom of server list */
/* chat alerts at top */
:root {
  /* Set to 1 if you want them to float  *\
  |*      Recommended while using        *|
  \*      Midnight/Rounded Themes        */
  --craat-popout: 0; /* Default = 0 */
  /* Change the border radius *\
  \*      for the alerts      */
  --craat-border-radius: 16px; /* default: 16px */
}

.visual-refresh .chatContent_f75fb0 .messagesWrapper__36d07 {
  .jumpToPresentBar__0f481 {
    width: calc(100% - 16px) !important;
    min-width: unset !important;
    left: 0px !important;
    top: calc(8px * var(--craat-popout)) !important;
    bottom: unset !important;
    border-radius: calc(var(--craat-border-radius) * var(--craat-popout))
      calc(var(--craat-border-radius) * var(--craat-popout))
      var(--craat-border-radius) var(--craat-border-radius);
    z-index: 5 !important;
  }

  .newMessagesBar__0f481 {
    border: 1px solid var(--border-normal);
    background-color: var(--background-surface-highest) !important;
    padding-top: 4px !important;
    border-radius: calc(var(--craat-border-radius) * var(--craat-popout))
      calc(var(--craat-border-radius) * var(--craat-popout))
      var(--craat-border-radius) var(--craat-border-radius);
    top: calc(8px * var(--craat-popout)) !important;
    left: 8px !important;
    right: 8px !important;
    > button:not([aria-label*="message"]) {
      background-color: var(--button-filled-brand-background);
      height: 22px;
      padding: 0 16px;
      font-weight: 500 !important;
      font-size: small;
      transform: translateX(2px);
      text-align: center;
      border: 1px solid var(--button-filled-brand-border);
      color: var(--button-filled-brand-text);
      margin-right: 6px;
      &:hover {
        background-color: var(--button-filled-brand-background-hover);
        border: 1px solid var(--button-filled-brand-border);
      }
    }
    > button[aria-label*="message"] > span {
      color: white;
    }
    ~ .jumpToPresentBar__0f481 {
      top: calc(36px + (8px * var(--craat-popout))) !important;
      border-top-color: transparent !important;
      border-radius: 0 0 var(--craat-border-radius) var(--craat-border-radius);
    }
    &:has(~ .jumpToPresentBar__0f481) {
      border-radius: calc(var(--craat-border-radius) * var(--craat-popout))
        calc(var(--craat-border-radius) * var(--craat-popout)) 0 0;
      border-bottom-color: transparent !important;
    }
  }
}
:root {
    /* Set to 1 if you want them to float  *\
    |*      Recommended while using        *|
    \*      Midnight/Rounded Themes        */
    --craat-popout: 0; /* Default = 0 */
    /* Change the border radius *\
    \*      for the alerts      */
    --craat-border-radius: 16px; /* default: 16px */
}
.sidebar_c48ade:after {
  display: none;
}